<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495502445849-4l5ct5qr2m75qtcvh8b03tkf5426vb7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495502445849-4l5ct5qr2m75qtcvh8b03tkf5426vb7e</string>
	<key>API_KEY</key>
	<string>AIzaSyAv4MBiqJODs08Yta2MuI5ahW_OQL0eOOk</string>
	<key>GCM_SENDER_ID</key>
	<string>495502445849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.assorttech.airoso-app</string>
	<key>PROJECT_ID</key>
	<string>apricart-81547</string>
	<key>STORAGE_BUCKET</key>
	<string>apricart-81547.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495502445849:ios:ad7de576ef679a9497c988</string>
	<key>DATABASE_URL</key>
	<string>https://apricart-81547-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>